<div class="wrap main_warp">
  <%- partial('layout/common/navbar_top_home.ejs') %><!-- navbartop layout-->
  <div class="container">


  </div>
</div>

<%- partial('layout/common/footer.ejs') %><!-- footer layout-->
