<div id="questions" class="questions">
  <div class="form-group">
    <label for="question"><i class="fa fa-question-circle" aria-hidden="true"></i> Question</label>
    <textarea class="form-control" id="question"  ng-model="data.question" required></textarea>
  </div>
  <div class="form-group">
    <label for="question"><i class="fa fa-question-circle" aria-hidden="true"></i> Question Description</label>
    <textarea class="form-control" id="question"  ng-model="data.questiondes" required></textarea>

  </div>
</div>
