<footer class="footer">
  <div class="container col-md-8 col-md-offset-3">
    <p><span>Copyright © 2016 Tutor Wizard.</span> All rights reserved. Tutor Wizard is a subsidiary of Edickson (PVT) LTD Sri Lanka.</p>
    <!--  <p class="pull-right"><? /*= Yii::powered() */ ?></p>-->
  </div>
</footer>
